<!--
  Plugin descriptor for the DITA4Publishers media domain HTML extensions

  Copyright (c) 2012, 2015 DITA For Publishers

  Implements HTML rendering for the media domain.
  -->
<plugin id="org.dita4publishers.media-d.html">
  <require plugin="org.dita4publishers.common.html"/>
  
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>
  
  <feature extension="dita.xsl.xhtml" value="xsl/media-d2html.xsl" type="file"/>
</plugin>
